body {
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.header {
    background-image: url('./images/bg-hero-desktop.svg')
}

.header-content-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.header-img-container img {
    width: 100%;
}

.header .text-wrap {
    width: 40%;
    padding-right: 50px;
}

.header-img-container {
    width: 60%;
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.section {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    display: flex;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 20px;
    height: 375px;
    align-items: center;
}

.text-wrap {
    width: 50%;
}

.img-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 50%;
    padding: 50px;
}

.img-container img {
    width: 80%;
}

.try-it-free {
    width: 150px;
    background-color: #fff;
    border: none;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 20px;
}

.header-content-container .text-wrap .subheader {
    font-size: 30px;
    line-height: 1.5;
}

.header-content-container .text-wrap .sub-text {
    font-size: 18px;
    line-height: 1.5;
}

.subheader {
    font-size: 30px;
    line-height: 1.5;
}

.sub-text {
    font-size: 18px;
    line-height: 1.5;
}

.get-started {
    width: 150px;
    background-color: #F00098;
    border: none;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 25px;
    color: white;
    height: 45px;
    width: 200px;
}

.text-wrap {
    padding: 0px 50px;
    width: 50%;
}

.get-started-container {
    z-index: 1;
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 15px;
    padding-bottom: 30px;
}

.get-started-container .subheader {
    margin: 30px 0px;
}

.footer {
    background-color: #04252E;
    color: white;
    padding: 100px;
    display: flex;
    margin-top: 125px;
}

.footer-section {
    position: relative;
    display: flex;
    justify-content: center;
}

.map-icon-container {
    display: flex;
}

.map-icon-container img {
    height: fit-content;
}

.icons {
    display: flex;
    width: 30%;
    padding: 30px;
    justify-content: space-around;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 30px
}

.footer-wrapper span {
    margin-bottom: 20px;
}

.footer-wrapper img {
    margin-right: 10px;
}


@media only screen and (max-width: 375px) {

    .nav {
        align-items: center;
    }
    
    .nav img {
        width: 50%;
        height: fit-content;
    }

    .try-it-free {
        width: 100px;
        height: 35px;
    }

    .container {
        margin: 25px;
    }

    .text-wrap,
    .header .text-wrap {
        width: 100%;
        padding: 0px;
    }

    .header-content-container {
        flex-direction: column;
        padding: 25px;
        text-align: center;
    }

    .header-img-container {
        width: 100%;
        margin-top: 50px;
    }

    .section {
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .img-container img {
        width: 100%;
        padding: 0px;
    }

    .img-container {
        padding: 0px;
        width: 100%;
    }

    .reverse {
        flex-direction: column-reverse
    }

    .get-started-container {
        width: 90%;
        text-align: center;
        margin-top: 20px;
    }

    .get-started-container .subheader {
        font-size: 20px;
    }

    .footer {
        flex-direction: column;
        padding: 100px 10px;
        margin-top: 125px;
    }

    .footer-wrapper {
        width: auto;
        padding: 0px 30px;
    }

    .icons {
        width: auto;
        justify-content: space-evenly;
    }

  }